.main .footer-section {
  background-color: rgb(37, 37, 37);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
}

.main .footer-section .container1 {
  text-indent: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main .footer-section .container1 h1 {
  color: white;
  font-size: 23px;
}

.main .footer-section .container1 p {
  font-size: 16px;
  color: rgb(163, 163, 163);
}

.main .footer-section .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .footer-section .container2 img {
  margin-top: 10px;
  width: 100px;
}

.main .footer-section .container2 p {
  color: white;
  font-size: 17px;
}

.main .footer-section .container3 {
  text-indent: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main .footer-section .container3 h1 {
  color: white;
  font-size: 23px;
}

.main .footer-section .container3 p {
  color: rgb(163, 163, 163);
  font-size: 15px;
}

.main .footer-section .container3 .img img {
  width: 25px;
}

.main .footer-section .container3 .img {
  margin-left: 100px;
  gap: 6px;
  display: flex;
  margin-top: 5px;
}

/* Desktop-Laptop */

@media (max-width: 1200px) {
}

/* Tablet */

@media (max-width: 992px) {
  .main .footer-section .container1 h1 {
    font-size: 20px;
    margin: 0;
  }

  .main .footer-section .container1 p {
    font-size: 10px;
  }

  .main .footer-section .container2 img {
    width: 80px;
  }

  .main .footer-section .container2 p {
    font-size: 10px;
  }

  .main .footer-section .container3 h1 {
    font-size: 20px;
  }

  .main .footer-section .container3 p {
    font-size: 10px;
  }

  .main .footer-section .container3 .img img {
    width: 20px;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .main .footer-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, 1fr);
  }

  .main .footer-section .container1 {
    text-indent: unset;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .main .footer-section .container2 {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .main .footer-section .container3 {
    text-indent: unset;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .main .footer-section .container3 .img {
    margin: 0;
  }
}

/* Cellphone*/

@media (max-width: 567px) {
}
